.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: red;
    color: black;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form h2 {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #error-container {
    margin-bottom: 10px;
    color: white;
  }
  
  #all-players-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container button {
    flex-basis: 30%;
  }
  
  /* Optional: You can add more styles to customize the appearance further */
  .player-image {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Ensure the image maintains aspect ratio and covers the container */
  }
  .field {
    border: 2px solid green;
  }
  
  .bench {
    border: 2px solid brown;
  }
  